<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>APA</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <style>
            table, th, td {
            border: 1px solid black;
        }
        </style>
    </head>
    <body>
        
        <h1 th:text="${alue.nimi}"></h1>
        <a href="/">Palaa takaisin</a>
        <table style="width:100%">
            <tr>
                <td>
                    Id
                </td>
                <td>
                    Keskustelu
                </td>
                <td>
                    Aloittaja
                </td>
                <td>
                    Aloitettu
                </td>
                <td>
                    Viimeisin viesti
                </td>
                
            </tr>
            <tr th:each="keskustelu: ${keskustelut}">
                <td >
                    <span th:text="${keskustelu.id}"></span> 
                </td>
                    
                <td >
                    <span th:text="${keskustelu.nimi}"></span>
                </td>
                <td>
                    <span th:text="${keskustelu.aloittaja.nimi}"></span>
                </td>
                <td>
                    <span th:text="${keskustelu.timestamp}"></span>
                </td>
                <td>
                    <span >viimeinen viesti timestamp</span>
                </td>
                
            
            </tr>
        </table>
        

    </body>
</html>